# See: https://github.com/github/gitignore/blob/main/Rails.gitignore

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key