<h1>Articles</h1>
<p>Oh Hello, with articles</p>
<p>Find me in app/views/articles/index.html.erb</p>
<p>It is now <%= @time %></p>
<%= link_to "Hello", articles_hello_path %>!
<%
=begin
%>
<% # cache article do %>
  <%= # render article %>
<% # end %>
<%
=end
%>